{lib_dirs, ["deps"]}.
{proto_opts,
	[{compiler, protobuffs},
	{src_dirs, ["src","proto"]}]}.
{erl_opts,
		[debug_info,
		{parse_transform, lager_transform},
		{lager_extra_sinks, [audit]} ]}.
{deps, [{protobuffs,".*",{git,"https://github.com/basho/erlang_protobuffs.git",""}},
         {'goldrush',".*",{git,"https://github.com/extend/goldrush.git","mastter"}},
         {'proper', ".*", {git,"https://github.com/manopapad/proper.git", "master"}},
         {'lager',".*",{git, "https://github.com/erlang-lager/lager.git","master"}},
        {emysql, ".*",  {git, "https://github.com/Eonblast/Emysql.git", {branch, "master"}}}]}.