%% auther: hanyan  
%% email: ithinkily@vip.qq.com
%% date: 2017.11.12

[{
	sasl, [
		{error_logger_mf_dir, "/Users/ouyanghanyan/code/erlang/server/logs"},	 %% dirs
		{error_logger_mf_maxbytes, 1048760}, %% 10M per log file.
		{error_logger_mf_maxfiles, 10}		 %% maxinum number of 10
	]
},
{
         lager,
         [
              {handlers,[
                  {lager_console_backend, [{level,info}, {formatter,lager_default_formatter},
                         {formatter_config,[time," ",color,module,"#",line," [",severity, "] ",message,"\e[0m\r\n"]}]},
                   {lager_file_backend,[{file,"error_logger.log"},{level,error}]},     %% error_logger.log 位置可以自行配置
                   {lager_file_backend,[{file,"console_logger.log"},{level,info}]}
                  ]},
              {colored,true},
              {
                  colors,
                      [
                          {debug,     "\e[0:38m" },
                          {info,      "\e[1;32m" },
                          {notice,    "\e[1;36m" },
                          {warning,   "\e[1;33m" },
                          {error,     "\e[1;31m" },
                          {critical,  "\e[1;35m" },
                          {alert,     "\e[1;44m" },
                          {emergency, "\e[1;41m" }
                      ]
              }
          ]
      }
].

%% file end.